.flex-container {
    flex-flow: column wrap;
    display: inline-flex;
    padding: 25px;
  }

  .item {
    border-radius: 7px;
  }

  .body {
      padding-left: 30px;
      padding-top: 30px;
  }
  
  .header {
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }