.flex-container {
 
    flex-flow: column wrap;
    display: inline-flex;
    padding: 25px;
  }

  .item {
    border-radius: 7px;
  }

  .body {
      padding-left: 30px;
      padding-top: 30px;
  }

  