.nav {
    background-color: white;
    border-bottom-color: lightslategray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  overflow: hidden;
  text-align: right;
  }
  
  .nav-link {
   color: black;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 20px;

  }
  
  .nav-link:hover {
  background-color: rgb(235, 235, 235);;
  }


.nav-title {
  float: left;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  color: black;
  padding-left: 15px;
}

 .nav-left {

 }
  
